Repository amestofortytwo/blog, pull requests merged in 2023-02, with the labels that each got.

#52 New blogpost - Marius MVP
  content/authors/marius.yml
  content/posts/2023-02-01-solbakken-mvp/index.mdx
  content/posts/2023-02-01-solbakken-mvp/media/Solbakken_mvp_blog.png
Labels: post

#53 New blogpost - About our search for DID customers
  content/posts/2023-02-03-soker-did-kunde/index.mdx
  content/posts/2023-02-03-soker-did-kunde/media/Fortytwo_soker_kunde_did.png
Labels: post

#32 New blogpost from Rødland about onedrive migration - English
  content/authors/avatars/alexanderrodland.png
  content/posts/2023-01-06-understanding-lifecycle-of-file-migration/index.mdx
  content/posts/2023-01-06-understanding-lifecycle-of-file-migration/media/DALL-E-onedrive.png
Labels: do-not-merge

#55 feat: Added "our culture" link i top meny
  gatsby-config.js
Labels: enhancement

#56 new blogpost - sikkerhet eller brukervennlighet - NO
  content/posts/2023-02-07-datasikkerhet-eller-brukervennlighet/index.mdx
  content/posts/2023-02-07-datasikkerhet-eller-brukervennlighet/media/splash.png
Labels: post

#59 New blogpost - KQLCheat blog
  content/posts/2023-02-10-KQL-Cheatsheet/index.mdx
  content/posts/2023-02-10-KQL-Cheatsheet/media/aks.jpg
  content/posts/2023-02-10-KQL-Cheatsheet/media/dalle.png
Labels: post

#42 feat: update to theme v0.5.1 of Pitayan
  .npmrc
  README.md
  gatsby-config.js
  package-lock.json
  package.json
  src/pages/categories/index.tsx
  src/pages/index.tsx
Labels: enhancement

#63 new blogpost - managed intune (nor)
  .npmrc 2
  content/posts/2023-02-14-managed-intune/index.mdx
  content/posts/2023-02-14-managed-intune/media/DALL-E 2023-02-11 10.53.34 - a fish in a bowl looking at multiple web portals and seems confusedf.png
  content/posts/2023-02-14-managed-intune/media/Settings-Catalog.gif
Labels: post

#54 new blogpost - Book a workshop with Fortytwo - (nor)
  content/posts/2022-02-05-book-en-workshop/index.mdx
  content/posts/2022-02-05-book-en-workshop/media/book-en-workshop-splash.jpeg
Labels: post, do-not-merge
